<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">
    <h1>Welcome to Minesweeper</h1>

    <p>This is a really great game !</p>
    </p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Size</th>

            <th>Mine count</th>

            <th></th>

        </tr>

        </thead>

        <tbody>
        <tr th:each="index: ${index}" th:object="${index}">
            <td th:text="*{width}">0x<td th:text="*{height}">0</td></td>

            <td th:text="*{count}">0</td>

            <td>
                <a href="#" th:href="@{/minesweeper/play/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-user-add-line"></i></a>

                <form action="#" th:action="@{/minesweeper/delete/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-danger"><i class="ri-delete-bin-line"></i></button>

                </form>

            </td>

        </tr>

        </tbody>

    </table>

</div>
</body>
</html>
