<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">
    <div th:if="${index.getState() == 2}">gagné</div>
<div th:if="${index.getState() != 1}">Vous ne pouvez pas jouer ici</div>
<div th:if="${index.getState() == 0}">Perdu</div>
    <table class="table_minesweeper">

        <tr th:each="ligne,indexRow: ${index.getMinefield()}">
            <td class="td_minesweeper"
                th:each="case,indexCol: ${ligne}"
                th:data-case="'/minesweeper/play/'+${index.getId()}+'/'+${indexCol.index}+'/'+${indexRow.index}"
                onclick="window.location.href = this.getAttribute('data-case')"><div class="div" th:text="(${case}<9) ? ${case} : '' "></div></td>
        </tr>

    </table>

</div>
</body>
</html>
