<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div th:fragment="content">

    <h1 th:text="${index.getId()}">Welcome to Minesweeper</h1>
    <h1 th:text="${index.getHeight()}">Welcome to Minesweeper</h1>
    <h1 th:text="${index.getWidth()}">Welcome to Minesweeper</h1>
    <h1 th:text="${index.getCount()}">Welcome to Minesweeper</h1>

    <table class="table_minesweeper">

        <tr th:each="ligne,indexRow: ${index.getMinefield()}">
            <td class="td_minesweeper"
                th:each="case,indexCol: ${ligne}"
                th:data-case="'/minesweeper/play/'+${index.getId()}+'/'+${indexCol.index}+'/'+${indexRow.index}"
                onclick="window.location.href = this.getAttribute('data-case')"
                th:text="${case}"></td>
        </tr>

    </table>

</div>
</body>
</html>
